:root {
  --white: #ffffff;
  --black: #000000;

  --primary-1: #6f58ff;

  --gray-1: #44444b;
  --gray-2: #8d8c97;
  --gray-3: #fcfcfd;

  --font-Inter: 'Inter', sans-serif;
}

.white {
  color: var(--white);
}

.black {
  color: var(--black);
}

.primary-1 {
  color: var(--primary-1);
}

.gray-1 {
  color: var(--gray-1);
}

.gray-2 {
  color: var(--gray-2);
}

.gray-3 {
  color: var(--gray-3);
}
