@import './reset.scss';
@import './color.scss';
@import './space.scss';
@import './text.scss';

* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #262626;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: normal;
  text-rendering: optimizeSpeed;
  background: var(--gray-3);
}

body {
  overflow-x: hidden;
}

main {
  height: 100%;
}
