.heading1-medium {
  font-family: var(--font-Inter), sans-serif !important;
  font-weight: 500;
  font-size: 38px;
  line-height: 46px;
}
.heading2-medium {
  font-family: var(--font-Inter), sans-serif !important;
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
}
.heading3-bold {
  font-family: var(--font-Inter), sans-serif !important;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}
.heading3-medium {
  font-family: var(--font-Inter), sans-serif !important;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
}
.heading3-regular {
  font-family: var(--font-Inter), sans-serif !important;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
}

.heading4-regular {
  font-family: var(--font-Inter), sans-serif !important;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

.heading4-medium {
  font-family: var(--font-Inter), sans-serif !important;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
}

.heading5-bold {
  font-family: var(--font-Inter), sans-serif !important;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.heading5-medium {
  font-family: var(--font-Inter), sans-serif !important;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.heading5-regular {
  font-family: var(--font-Inter), sans-serif !important;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.body-bold {
  font-family: var(--font-Inter), sans-serif !important;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
}

.body-medium {
  font-family: var(--font-Inter), sans-serif !important;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
}

.body-regular {
  font-family: var(--font-Inter), sans-serif !important;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.body-underline {
  font-family: var(--font-Inter), sans-serif !important;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.caption-regular {
  font-family: var(--font-Inter), sans-serif !important;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
}

.truncate {
  font-family: var(--font-Inter), sans-serif !important;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.text-3-line {
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
  word-break: break-word;
}
