.heading-large-semi-bold {
  font-family: var(--font-Inter), sans-serif !important;
  font-size: 53px;
  font-style: normal;
  font-weight: 600;
  line-height: 74.2px;
  letter-spacing: -2.65px;
}

.heading-medium-semi-bold {
  font-family: var(--font-Inter), sans-serif !important;
  font-size: 43px;
  font-style: normal;
  font-weight: 600;
  line-height: 60.2px;
  letter-spacing: -2.15px;
}

.heading-small-semi-bold {
  font-family: var(--font-Inter), sans-serif !important;
  font-size: 34px;
  font-style: normal;
  font-weight: 600;
  line-height: 47.6px;
  letter-spacing: -1.7px;
}

.heading-x-small-semi-bold {
  font-family: var(--font-Inter), sans-serif !important;
  font-size: 27px;
  font-style: normal;
  font-weight: 600;
  line-height: 37.8px;
  letter-spacing: -1.35px;
}

.paragraph-large-medium {
  font-family: var(--font-Inter), sans-serif !important;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 30.8px;
  letter-spacing: -1.1px;
}

.paragraph-medium-medium {
  font-family: var(--font-Inter), sans-serif !important;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 25.2px;
  letter-spacing: -0.9px;
}

.heading-x-small-medium {
  font-family: var(--font-Inter), sans-serif !important;
  font-size: 27px;
  font-style: normal;
  font-weight: 500;
  line-height: 37.8px;
  letter-spacing: -1.35px;
}

.paragraph-small-medium {
  font-family: var(--font-Inter), sans-serif !important;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 19.6px;
  letter-spacing: -0.7px;
}

.paragraph-small-medium-bold {
  font-family: var(--font-Inter), sans-serif !important;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.7px;
}

.text-3-line {
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
  word-break: break-word;
}
